* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  gap: 0px;
}

/* Buttons */

.ButtonRounded {
  /* Box */
  color: rgb(0, 0, 0);
  background-color: rgb(214, 214, 214);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  /* Padding */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* Width */
  min-width: 120px;
  /* Text */
  font-size: 1rem;
}

/* .ButtonRounded:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.288);
} */

.Button {
  /* Box */
  color: rgb(0, 0, 0);
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* Padding */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* Width */
  min-width: 100px
}

/* .ButtonRounded:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.288);
} */

.ButtonSquare {
  /* Box */
  color: rgb(0, 0, 0);
  background-color: rgb(214, 214, 214);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  /* Padding */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  height: 50px;
  /* Text */
  font-size: 1rem;
}

/* .ButtonSquare:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.288);
} */

.ButtonBold {
  font-weight: bold !important;
}

.ButtonTextLarge {
  font-size: 1.4rem !important;
}

.ButtonOutlineBlack {
  border: 1px solid rgb(0, 0, 0) !important;
}

.ButtonOutlineGray {
  border: 1px solid rgb(214, 214, 214) !important;
}

.ButtonOutlineWhite {
  border: 1px solid rgb(255, 255, 255) !important;
}

.ButtonBlack {
  color: white !important;
  background-color: rgb(0, 0, 0) !important;
}

.ButtonGray {
  background-color: rgb(214, 214, 214) !important;
}

.ButtonLightGray {
  background-color: rgb(238, 238, 238) !important;
}

.ButtonBlue {
  color: white !important;
  background-color: rgb(38, 0, 255) !important;
}

.ButtonLightBlue {
  color: white !important;
  background-color: rgb(0, 132, 255) !important;
}

.ButtonNeonGreen {
  background-color: rgb(0, 255, 21) !important;
}

.ButtonRed {
  color: white !important;
  background-color: rgb(255, 0, 0) !important;
}

/* Input & Forms */

.Input {
  padding: 10px;
  width: 100%;
  max-height: 50px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 4px;
  box-sizing: border-box;
}

.InputError {
  padding: 10px;
  max-height: 50px;
  /* background-color: rgba(253, 0, 0, 0.274); */
  border: 1px solid red;
  border-radius: 4px;
  box-sizing: border-box;
}

/* LoadingFrame */

.LoadingFrameFullScreen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.055);
  height: 100%;
  width: 100%;
}

.LoadingFrameFill {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 100%;
  width: 100%;
}

.LoadingFrame {
  width: 100%;
  height: 250px;
}