/* .Body {

    display: flex;
    flex-direction: column;

    width: 95%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 0px;
    padding: 20px;

    gap: 10px;

    border: 1px solid rgb(0, 0, 0);
    background-color: blue;
} */

.ProfileLayout {
    min-width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* Margin */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Gap */
    gap: 10px;
}

.ProfileHeader {
    height: 200px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: end;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    /* Text */
    font-weight: bold;
    font-size: 2rem;
}

.ProfileBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Write Post */

.WritePostBox {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.WritePostHeader {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.TextArea {
    /* Box */
    width: 100%;
    height: 75px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;
    box-sizing: border-box;
    resize:vertical;
    /* Text */
    font-size: 1.25rem;
    /* Padding */
    padding: 5px;
}

/* Post */

.Post {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.PostPhotoBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
}

.ProfilePhoto {
    border: 0px;
    border-radius: 100%;
    box-sizing: border-box;

    width: 30px;
    height: 30px;
}

.PostMain {
    width: 100%;
}

.PostHeader {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
}

.PostBody {

}

.PostFooter {
    display: flex;
    justify-content: right;
    font-style: italic;
    color: rgb(179, 179, 179);
}

/* Load More Posts Button */

.LoadMoreButton {
    border: 1px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}